includes:
    - ../../../larastan/larastan/extension.neon
    - ../../../phpstan/phpstan-phpunit/extension.neon
    - ../../../phpstan/phpstan-mockery/extension.neon

parameters:
    level: 6

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
    - message: '#Call to an undefined method MongoDB\\Laravel\\Relations\\EmbedsMany<[a-zA-Z0-9\\_]+>::where\(\)#'
