includes:
  - ../../../nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 9

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
    	- '#^Class [a-zA-Z\\]+ has an uninitialized readonly property [a-zA-Z\$]+. Assign it in the constructor\.$#'
